
<td class="half_1st day_{{ day.val }}
    {{#if day.is_bank_holiday}}bank_holiday_cell{{/if}}
    {{#if day.is_weekend}}weekend_cell{{/if}}
    {{#if day.is_leave_morning }}
        {{#if day.is_new_leave}}
            leave_cell_pended
        {{else}}
            leave_cell
        {{/if}}
    {{/if}}
"><span {{#unless day.is_bank_holiday}}{{#unless day.is_weekend}}{{# with  day.leave_obj }}{{#if this }}data-toggle="tooltip" data-placement="top" title="{{#if this.is_new_leave}}New absence waiting approval{{/if}}{{#if this.is_pended_revoke_leave}}Revoked waiting for appoval{{/if}}{{#if this.is_approved_leave}}Appoved absense{{/if}}" {{/if}}{{/ with}}{{/unless}}{{/unless}} {{# if day.is_bank_holiday}} data-toggle="tooltip" data-placement="top" title="Bank holiday"{{/if}}>{{day.val}}</span></td>
<td class="half_2nd day_{{ day.val }}
    {{#if day.is_bank_holiday}}bank_holiday_cell{{/if}}
    {{#if day.is_weekend}}weekend_cell{{/if}}
    {{#if day.is_leave_afternoon }}
        {{#if day.is_new_leave}}
            leave_cell_pended
        {{else}}
            leave_cell
        {{/if}}
    {{/if}}
"></td>
