

<div class="container-requests">
  <div class="row">&nbsp;</div>
  <div class="main-row_header">
    <div class="row">
      <div class="col-md-12">All leaves</div>
    </div>
  </div>
  <div class="content-rows">
    {{# unless leaves}}
    <div class="row-request text-muted">
      There are no leave requests yet.
    </div>
    {{else}}
    <div class="row-header">
      <div class="row">
        <div class="col-md-2">Type</div>
        <div class="col-md-1">Deducted</div>
        <div class="col-md-4">Dates</div>
        <div class="col-md-3">Approved by</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Status</div>
      </div>
    </div>
    {{# each leaves }}
    <div class="row">&nbsp;</div>
    <div class="row row-requests">
      <div class="col-md-2">{{ this.leave_type.name }}{{#if this.is_pended_revoke_leave}}<br>(pended revoke){{/if}}</div>
      <div class="col-md-1">{{ this.get_deducted_days_number }}</div>
      <div class="col-md-4">From {{#with this.get_start_leave_day}}{{as_date this.date}}{{/with}} to {{#with this.get_end_leave_day}}{{as_date this.date}}{{/with}}</div>
      <div class="col-md-3">{{#with this.approver}}{{this.full_name}}{{/with}}</div>
      <div class="col-md-1">
        {{# if this.is_approved_leave }}
        {{# unless this.is_pended_revoke_leave}}
        <form method="post" action="/requests/revoke/">
          <input type="hidden" value="{{this.id}}" name="request">
          <button type="submit" class="pull-right btn btn-default btn-xs revoke-btn" title="Revoke leave request"><i class="fa fa-trash"></i></button>
        </form>
        {{/unless}}
        {{/if}}
      </div>
      <div class="col-md-1">{{#if this.is_new_leave }}Pending{{else}}{{#if this.is_approved_leave}}Approved{{else}}Rejected{{/if}}{{/if}}</div>
    </div>
    {{/ each }}
    {{/unless}}
  </div>
</div>
