
<div class="row main-row_header">
  <p class="col-md-12">All leaves</p>
</div>
<div class="row">
  {{# unless leaves}}
  <div class="row-request text-muted">
    There are no leave requests yet.
  </div>
  {{else}}

  <div class="col-md-12 table-responsive_">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Deducted</th>
          <th>Dates</th>
          <th>Approved by</th>
          <th></th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
      {{# each leaves }}

      <tr>
        <td>{{ this.leave_type.name }}{{#if this.is_pended_revoke_leave}}<br>(pended revoke){{/if}}</td>
        <td>{{ this.get_deducted_days_number }}</td>
        <td>From {{#with this.get_start_leave_day}}{{as_date this.date}}{{/with}} to {{#with this.get_end_leave_day}}{{as_date this.date}}{{/with}}</td>
        <td>{{#with this.approver}}{{this.full_name}}{{/with}}</td>
        <td>
          {{# if this.is_approved_leave }}
          {{# unless this.is_pended_revoke_leave}}
          <form method="post" action="/requests/revoke/">
            <input type="hidden" value="{{this.id}}" name="request">
            <button type="submit" class="pull-right btn btn-default btn-xs revoke-btn" title="Revoke leave request"><i class="fa fa-trash"></i></button>
          </form>
          {{/unless}}
          {{/if}}
        </td>
        <td>{{#if this.is_new_leave }}Pending{{else}}{{#if this.is_approved_leave}}Approved{{else}}Rejected{{/if}}{{/if}}</td>
      </tr>

      {{/ each }}

      </tbody>
    </table>
    </div>
  </div>
  {{/unless}}
</div>
