
{{> header }}

<h1>Bank Holidays</h1>

{{> show_flash_messages }}

<div class="row">
    <div class="col-md-3">Bank Holidays settings</div>
    <div class="col-md-3 col-md-offset-6">
        <button type="button" class="pull-right btn btn-info" id="add_new_department_btn">Add new</button>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-5">Name</div>
    <div class="col-md-5">Date</div>
</div>

<div class="row">&nbsp;</div>

<form id="delete_form" method="post" action="/settings/bankholidays/delete/"></form>

<form method="post" action="/settings/bankholidays/">

{{#each company.bank_holidays}}
<div class="row">

    <div class="col-md-5">
        <input type="text" class="form-control" value="{{name}}" name="name__{{@index}}">
    </div>

    <div class="col-md-5">
        <input type="text" class="form-control" value="{{date}}" name="date__{{@index}}">
    </div>

    <div class="col-md-2">
        <button type="button" class="close" aria-label="Close" value="{{@index}}"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

<div class="row">&nbsp;</div>

{{/each}}


<div id="add_new_department_row" class="row hidden">

    <div class="col-md-5">
        <input type="text" class="form-control" value="{{name}}" name="name__new">
    </div>

    <div class="col-md-5">
        <input type="text" class="form-control" value="{{date}}" name="date__new">
    </div>

</div>


<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-4">
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>
</div>

</form>

<div class="row">&nbsp;</div>

{{> footer }}
