
{{> header }}

<h1>{{logged_user.name}} {{logged_user.lastname}}'s calendar</h1>

<div class="row">
    <div class="col-md-3">Employee calendar</div>
    <form id="book_time_off_frm" method="POST" action="">
    <div class="col-md-2 col-md-offset-6">
      <span>Days remaining<br>{{#with current_user }}{{ this.calculate_number_of_days_available_in_allowence }} out of {{this.calculate_total_number_of_days_n_allowence }}{{/with}}</span>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#book_leave_modal" id="book_time_off_btn">Book time off</button>
    </div>
    </form>
</div>

<div class="row">&nbsp;</div>

{{> show_flash_messages }}

<nav>
  <ul class="pager">
    <li class="previous"><a href="/calendar/?year={{previous_year}}"><span aria-hidden="true">&larr;</span>{{previous_year}} </a></li>
    <span>January - December {{current_year}}</span>

    <li class="next"><a href="/calendar/?year={{next_year}}">{{next_year}} <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>

<div class="row clearfix">

    {{# each calendar}}
    <div class="col-md-3 month_container">
        <table class="calendar_month month_{{ this.month }}">
        <thead>
        <tr>
            <td colspan="14">{{ this.month }}</td>
        </tr>
        <tr>
            <td colspan="2">M</td>
            <td colspan="2">T</td>
            <td colspan="2">W</td>
            <td colspan="2">T</td>
            <td colspan="2">F</td>
            <td colspan="2">S</td>
            <td colspan="2">S</td>
        </tr>
        </thead>
        <tbody>
        {{#each this.weeks }}
        <tr>
            {{#each this}}
            <td class="half_1st day_{{ this.val }}
                {{#if this.is_bank_holiday}}bank_holiday_cell{{/if}}
                {{#if this.is_weekend}}weekend_cell{{/if}}
                {{#if this.is_leave_morning }}
                    {{#if this.is_pended_leave}}
                        leave_cell_pended
                    {{else}}
                        leave_cell
                    {{/if}}
                {{/if}}
            "><span>{{this.val}}</span></td>
            <td class="half_2nd day_{{ this.val }}
                {{#if this.is_bank_holiday}}bank_holiday_cell{{/if}}
                {{#if this.is_weekend}}weekend_cell{{/if}}
                {{#if this.is_leave_afternoon }}
                    {{#if this.is_pended_leave}}
                        leave_cell_pended
                    {{else}}
                        leave_cell
                    {{/if}}
                {{/if}}
            "></td>
            {{/each}}
        </tr>
        {{/each}}

        </tbody></table>
    </div>
    {{/each}}

</div>

{{> book_leave_modal container_id='book_leave_modal' leave_modal_form_action='/calendar/bookleave/' }}

{{> footer }}
