
{{> header }}

<h1>Departments</h1>

{{> show_flash_messages }}

<div class="row">
    <div class="col-md-3">Departments settings</div>
    <div class="col-md-3 col-md-offset-6">
        <button type="button" class="pull-right btn btn-info" id="add_new_department_btn">Add new</button>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-4">Department</div>
    <div class="col-md-3">Allowence</div>
    <div class="col-md-3">Manager</div>
    <div class="col-md-2">Users</div>
</div>

<div class="row">&nbsp;</div>

<form id="delete_form" method="post" action="/settings/departments/delete/"></form>

<form method="post" action="/settings/departments/">

{{# unless departments.length }}
<div class="row">
    <div class="col-md-4">No department records</div>
</div>
{{/unless}}

{{#each departments}}
<div class="row">

    <div class="col-md-4">
        <input type="text" class="form-control" value="{{name}}" name="name__{{@index}}">
    </div>

    <div class="col-md-1">
        <select class="form-control" name="allowence__{{@index}}">
            {{#each ../allowence_options}}
            <option value="{{value}}" {{#if_equal this.value ../allowence}} selected="selected"{{/if_equal}}>{{value}}</option>
            {{/each}}
        </select>
    </div>

    <div class="col-md-2">
        <input name="include_public_holidays__{{@index}}" id="include_public_holidays__{{@index}}" type="checkbox" {{#if include_public_holidays}}checked="checked"{{/if}}>
        <label for="include_public_holidays__{{@index}}" class="control-label">Public holidays</label>
    </div>

    <div class="col-md-3">
        <select class="form-control" name="boss_id__{{@index}}">
        {{#each ../company.users}}
            <option value="{{this.id}}" {{#if_equal this.id ../bossId}} selected="selected"{{/if_equal}}>{{this.name}}</option>
        {{/each}}
        </select>

   </div>

    <div class="col-md-1">{{this.users.length}}</div>

    <div class="col-md-1">
        <button type="button" class="close" aria-label="Close" value="{{@index}}"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

<div class="row">&nbsp;</div>

{{/each}}


<div id="add_new_department_row" class="row hidden">
    <div class="col-md-4">
        <input type="text" class="form-control" name="name__new" placeholder="New department name">
    </div>

    <div class="col-md-1">
        <select class="form-control" name="allowence__new">
            {{#each allowence_options}}
            <option value="{{value}}" >{{value}}</option>
            {{/each}}
        </select>
    </div>

    <div class="col-md-2">
        <input name="include_public_holidays__new" id="include_public_holidays__new" type="checkbox" checked="checked">
        <label for="include_public_holidays__new" class="control-label">Public holidays</label>
    </div>

    <div class="col-md-3">
        <select class="form-control" name="boss_id__new">
        {{#each company.users}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
        </select>
   </div>

</div>



<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-4">
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>
</div>

</form>

<div class="row">&nbsp;</div>

{{> footer }}
