
{{> header }}

<h1>Departments</h1>

<div class="row">
    <div class="col-md-3">Departments settings</div>
</div>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-4"><label class="control-label">Name</label></div>
    <div class="col-md-3"><label class="control-label">Allowence</label></div>
    <div class="col-md-3"><label class="control-label">Manager</label></div>
    <div class="col-md-2"><label class="control-label">Users</label></div>
</div>

<div class="row">&nbsp;</div>

<form id="delete_form" method="post" action="/settings/departments/delete/"></form>

<form method="post" action="/settings/departments/" id="edit_department_form">

{{# unless departments.length }}
<div class="row">
    <div class="col-md-4">No department records</div>
</div>
{{/unless}}

{{#each departments}}
<div class="row">

    <div class="col-md-4">
        <input type="text" class="form-control" value="{{name}}" name="name__{{@index}}">
    </div>

    <div class="col-md-1">
        <select class="form-control" name="allowence__{{@index}}">
            {{#each ../allowence_options}}
            <option value="{{value}}" {{#if_equal this.value ../allowence}} selected="selected"{{/if_equal}}>{{value}}</option>
            {{/each}}
        </select>
    </div>

    <div class="col-md-2">
        <input name="include_public_holidays__{{@index}}" id="include_public_holidays__{{@index}}" type="checkbox" {{#if include_public_holidays}}checked="checked"{{/if}}>
        <label for="include_public_holidays__{{@index}}" class="control-label">Public holidays</label>
    </div>

    <div class="col-md-3">
        <select class="form-control" name="boss_id__{{@index}}">
        {{#each ../company.users}}
            <option value="{{this.id}}" {{#if_equal this.id ../bossId}} selected="selected"{{/if_equal}}>{{this.full_name}}</option>
        {{/each}}
        </select>

   </div>

    <div class="col-md-1"><a class="" href="/users/?department={{ this.id }}">{{this.users.length}}</a></div>

    <div class="col-md-1">
        <button type="button" class="btn btn-default pull-right departments-remove-btn" value="{{@index}}"><span class="fa fa-remove"></span></button>
    </div>
</div>

<div class="row">&nbsp;</div>

{{/each}}

<div class="row">
  <div class="col-md-offset-9 col-md-3">
    <button class="btn btn-default pull-right" data-toggle="modal" data-target="#add_new_department_modal" type="button" id="add_new_department_btn">Add new</button>
    <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
    <button type="submit" class="btn btn-success pull-right">Save changes</button>
  </div>
</div>

</form>

<div class="row">&nbsp;</div>

{{> add_new_department_modal
  container_id='add_new_department_modal'
  form_action='/settings/departments/'
}}

{{> footer }}
