
{{> header }}

<h1>My feeds</h1>

{{> show_flash_messages }}

<div class="row">
    <div class="col-md-3">My feeds</div>
    <div class="col-md-3 col-md-offset-6">
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-4">
    <form method="POST" action="/settings/feeds/regenerate/">
    My calendar <a href="webcal://{{current_host}}/feed/{{calendar_feed.feed_token}}/ical.ics">feed</a>

    <input type="hidden" name="token" value="{{calendar_feed.feed_token}}"/>
    <input type="submit" value="Regenerate">
    </form>
  </div>

  <div class="col-md-4">
    <form method="POST" action="/settings/feeds/regenerate/">
    Wallchart feed <a href="webcal://{{current_host}}/feed/{{wallchart_feed.feed_token}}/ical.ics">feed</a>

    <input type="hidden" name="token" value="{{wallchart_feed.feed_token}}"/>
    <input type="submit" value="Regenerate">
    </form>
  </div>

</div>

{{> footer }}
