
{{> header }}

<h1>My feeds</h1>

<p>Feeds for external calendars</p>

{{> show_flash_messages }}

<div class="row">

  <div class="col-md-6">

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-md-12">

        <p class="description-paragraph">Share you TimeOff.Management data with external calendar providers such as Microsoft Outlook, Apple Calendar (iCal) or Google Calendar.</p>

        <p class="description-paragraph">We provide two streams from:</p>
        <p class="description-paragraph">
          <a href="/calendar/">My Calendar</a> page - feeds all data from My Calendar page
        </p>
        <p class="description-paragraph">
          <a href="/teamview/">Team view</a> page - feeds Team view data for current month
        </p>

        <p class="description-paragraph">To export particular feed into default calendar application just click on corresponding link.</p>

        <p class="description-paragraph">Otherwise copy link location and pass it to external application.</p>

      </div>
    </div>

    <div class="row feeds-holder">


      <div class="col-md-5 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{calendar_feed.feed_token}}/ical.ics">My calendar feed <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{calendar_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

      <div class="col-md-5 col-md-offset-2 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{team_view_feed.feed_token}}/ical.ics">Team view feed <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{team_view_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

    </div>
  </div>


  <div class="col-md-6">
    <div class="row feed-calendar-big-picture-holder">
      <i class="fa fa-calendar feed-calendar-big"></i>
    </div>
  </div>



</div>

{{> footer }}
