

{{> header }}

<h1>General settings</h1>

<p class="lead">Account main settings</p>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Company
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-md-5">
            <form class="form-horizontal" method="POST" action="/settings/company/" id="company_edit_form">
              <div class="form-group">
                <label for="input_company_name" class="col-md-4 control-label">Company name</label>
                <div class="col-md-8">
                  <input class="form-control" id="input_company_name" placeholder="Our company name" value="{{company.name}}" name="name">
                </div>
              </div>
              <div class="form-group">
                <label for="input_country" class="col-md-4 control-label">Country</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_country" name="country">
                    {{#each countries}}
                    <option value="{{@key}}" {{# if_equal @key ../company.country }} selected="selected"{{/if_equal}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="input_date_format" class="col-md-4 control-label">Date format</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_date_format" name="date_format">
                    {{#with company}}
                    {{#each this.get_available_date_formats}}
                    <option value="{{this}}" {{# if_equal this ../date_format }} selected="selected"{{/if_equal}}>{{this}}</option>
                    {{/each}}
                    {{/with}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                  <div class="checkbox">
                    <label for="share-all-absences">
                      <input id="share-all-absences" type="checkbox" name="share_all_absences" {{# if company.share_all_absences }} checked="checked"{{/if}}>Share absences between all employees
                    </label>
                    <p>
                      <em>If enabled all employees can see information about everybody's absences regardless departments.</em>
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button type="submit" class="btn btn-success pull-right">Save changes</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-offset-1 col-md-5">
            <form class="form-horizontal" method="POST" action="/settings/company/export/" id="company_export_form">
              <div class="form-group">
                <label for="export_company_btn" class="col-md-6 control-label">Export company data</label>
                <div class="col-md-6">
                  <button type="submit" id="export_company_btn" class="btn btn-success">Download</button>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2">
                  <em>Download company dump file that could be used to restore account on another TimeOff.Management installation.</em>
                </div>
              </div>
            </form>


            <div class="form-group">&nbsp;</div>

            <form class="form-horizontal" method="POST" action="/settings/schedule" id="company_schedule_form">
            <input type="hidden" name="company_wide" value="1">
            <div class="form-group">
              <label for="" class="col-md-6 control-label">Company week schedule</label>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2">
                <div class="btn-group" data-toggle="buttons">
                  {{#with schedule}}
                  <label class="btn btn-default {{# if (works_monday   ) }} active{{/if }} " id="schedule_item_monday">    <input name ="monday"    type="checkbox" autocomplete="off" {{# if (works_monday   ) }} checked {{/if }} >Mon</label>
                  <label class="btn btn-default {{# if (works_tuesday  ) }} active{{/if }} " id="schedule_item_tuesday">   <input name ="tuesday"   type="checkbox" autocomplete="off" {{# if (works_tuesday  ) }} checked {{/if }} >Tue</label>
                  <label class="btn btn-default {{# if (works_wednesday) }} active{{/if }} " id="schedule_item_wednesday"> <input name ="wednesday" type="checkbox" autocomplete="off" {{# if (works_wednesday) }} checked {{/if }} >Wed</label>
                  <label class="btn btn-default {{# if (works_thursday ) }} active{{/if }} " id="schedule_item_thursday">  <input name ="thursday"  type="checkbox" autocomplete="off" {{# if (works_thursday ) }} checked {{/if }} >Thu</label>
                  <label class="btn btn-default {{# if (works_friday   ) }} active{{/if }} " id="schedule_item_friday">    <input name ="friday"    type="checkbox" autocomplete="off" {{# if (works_friday   ) }} checked {{/if }} >Fri</label>
                  <label class="btn btn-default {{# if (works_saturday ) }} active{{/if }} " id="schedule_item_saturday">  <input name ="saturday"  type="checkbox" autocomplete="off" {{# if (works_saturday ) }} checked {{/if }} >Sat</label>
                  <label class="btn btn-default {{# if (works_sunday   ) }} active{{/if }} " id="schedule_item_sunday">    <input name ="sunday"    type="checkbox" autocomplete="off" {{# if (works_sunday   ) }} checked {{/if }} >Sun</label>
                  {{/ with }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2">
                <em>Define company wide weekly schedule. Press correspondent button to toggle working/non-working day.</em>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-11">
                <button type="submit" class="btn btn-success pull-right">Save schedule</button>
              </div>
            </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        Bank Holidays
      </div>
      <div class="panel-body">
        <form id="delete_bankholiday_form" method="post" action="/settings/bankholidays/delete/"></form>
        <form id="update_bankholiday_form" method="post" action="/settings/bankholidays/">

        <div class="row">
          <div class="col-md-6"><label class="control-label">Holiday Name</label></div>
          <div class="col-md-3"><label class="control-label">Date</label></div>
        </div>

        <div class="row">&nbsp;</div>

        {{# unless company.bank_holidays.length }}
        <div class="row">
          <div class="col-md-4 tst-no-bank-holidays">No Bank holiday records</div>
        </div>
        {{/unless}}

        {{#each company.bank_holidays}}
        <div class="row">

          <div class="col-md-6">
              <input type="text" class="form-control" value="{{name}}" name="name__{{@index}}">
          </div>

          <div class="col-md-4">
            <div class="input-append date">
            <input type="text" class="form-control" value="{{as_date date}}" name="date__{{@index}}" data-date-autoclose="1" data-provide="datepicker" data-date-format="{{#with ../logged_user.company}}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1">
            <span class="add-on"><i class="icon-th"></i></span>
            </div>
          </div>

          <div class="col-md-2">
            <button class="btn btn-default pull-right bankholiday-remove-btn" type="button" value="{{@index}}"><span class="fa fa-remove"></span></button>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        {{/each}}

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button class="btn btn-default" type="button" data-toggle="modal" data-target="#add_new_bank_holiday_modal" id="add_new_bank_holiday_btn">Add new</button>
              <button type="submit" class="btn btn-success pull-right-">Save changes</button>
            </div>
          </div>
        </div>

        </form>
      </div>
    </div>
  </div>


  <div class="col-md-7 setting-general-2nd-column">

    <div class="panel panel-default">

      <div class="panel-heading">
        Leave Types
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="col-md-6"><label class="control-label">Leave Type Name</label></div>
          <div class="col-md-offset-3 col-md-2"><label class="control-label">Limit</label></div>
        </div>

        <div class="row">&nbsp;</div>

        <form id="delete_leavetype_form" method="post" action="/settings/leavetypes/delete/"></form>
        <form id="leave_type_edit_form" method="post" action="/settings/leavetypes/">

        {{# unless company.leave_types.length }}
        <div class="row">
          <div class="col-md-4">No Leave type records</div>
        </div>
        {{/unless}}


        {{#each company.leave_types}}
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" value="{{name}}" name="name__{{@index}}">
          </div>
          <div class="col-md-3">
            <input name="use_allowance__{{@index}}" id="use_allowance__{{@index}}" type="checkbox" {{#if use_allowance}}checked="checked"{{/if}}>
            <label for="use_allowance__{{@index}}" class="control-label">Use allowance</label>
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control" value="{{limit}}" name="limit__{{@index}}">
          </div>
          <div class="col-md-1">
            <button class="btn btn-default pull-right leavetype-remove-btn" value="{{@index}}"><span class="fa fa-remove"></span></button>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        {{/each}}

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button class="btn btn-default" data-toggle="modal" data-target="#add_new_leave_type_modal" type="button" id="add_new_leave_type_btn">Add new</button>
              <button type="submit" class="btn btn-success">Save changes</button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>


{{> add_new_bank_holiday_modal
  container_id='add_new_bank_holiday_modal'
  form_action='/settings/bankholidays/'
}}


{{> add_new_leave_type_modal
  container_id='add_new_leave_type_modal'
  form_action='/settings/leavetypes/'
}}

{{> footer }}
