
{{> header }}

<h1>{{logged_user.name}} {{logged_user.lastname}} messages</h1>

{{> show_flash_messages }}


<div class="row">
    <div class="col-md-6">Leave request to approve</div>
</div>

<div class="row">
  <div class="col-md-4">Employee</div>
  <div class="col-md-6">Leave details</div>
</div>

{{#each to_be_approved_leaves }}

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">{{#with this.user}}{{this.full_name}}{{/with}}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{this.user.department.name}}</div>
      <div class="col-md-6">{{as_date this.createdAt}}</div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">From {{#with this.get_start_leave_day}}{{as_date this.date}}{{/with}} to {{#with this.get_end_leave_day}}{{as_date this.date}}{{/with}}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{this.leave_type.name}}</div>
      <div class="col-md-6">{{ this.get_deducted_days_number }}</div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-6">
      <form action="/requests/reject/" method="POST">
        <input class="btn btn-warning" type="submit" value="Reject">
        <input type="hidden" value="{{this.id}}" name="request">
      </form>
      </div>
      <div class="col-md-6">
      <form action="/requests/approve/" method="POST">
        <input class="btn btn-success" type="submit" value="Approve">
        <input type="hidden" value="{{this.id}}" name="request">
      </form>
      </div>
    </div>
  </div>
</div>

{{/each}}

<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-6">All my leaves</div>
</div>
<div class="row">
    <div class="col-md-2">Type</div>
    <div class="col-md-1">Deducted</div>
    <div class="col-md-5">Dates</div>
    <div class="col-md-3">Approver</div>
    <div class="col-md-1">Status</div>
</div>

{{# each my_leaves }}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-2">{{ this.leave_type.name }}</div>
    <div class="col-md-1">{{ this.get_deducted_days_number }}</div>
    <div class="col-md-5">From {{#with this.get_start_leave_day}}{{as_date this.date}}{{/with}} to {{#with this.get_end_leave_day}}{{as_date this.date}}{{/with}}</div>
    <div class="col-md-3">{{#with this.approver}}{{this.full_name}}{{/with}}</div>
    <div class="col-md-1">{{#if this.is_pended_leave }}Opened{{else}}Approved{{/if}}</div>
</div>

{{/ each }}

{{> footer }}
