
{{> header }}

<h1>{{logged_user.name}} {{logged_user.lastname}} messages</h1>

{{> show_flash_messages }}

<div class="row">
    <div class="col-md-6">All my leaves</div>
</div>
<div class="row">
    <div class="col-md-2">Type</div>
    <div class="col-md-1">Deducted</div>
    <div class="col-md-5">Dates</div>
    <div class="col-md-3">Approver</div>
    <div class="col-md-1">Status</div>
</div>

{{# each my_leaves }}

<div class="row">
    <div class="col-md-2">Type</div>
    <div class="col-md-1">Deducted</div>
    <div class="col-md-5">From {{#with this.get_start_leave_day}}{{as_date this.date}}{{/with}} to {{#with this.get_end_leave_day}}{{as_date this.date}}{{/with}}</div>
    <div class="col-md-3">{{#with this.approver}}{{this.full_name}}{{/with}}</div>
    <div class="col-md-1">{{#if this.is_pended_leave }}Opened{{else}}Approved{{/if}}</div>
</div>

{{/ each }}

{{> footer }}
