
{{> header }}

<h1>{{logged_user.name}} {{logged_user.lastname}}'s team</h1>

<div class="row">
    <div class="col-md-3 lead">Team view <a href="/calendar/feeds/"><span class="fa fa-rss"></span></a></div>
</div>

<div class="row">&nbsp;</div>

{{> show_flash_messages }}

<nav>
  <ul class="pager">
    <li class="previous"><a href="/calendar/teamview/?{{> team_view_url_parameters base_date = prev_date }}"><span aria-hidden="true" class="fa fa-chevron-left"></span> {{#with prev_date}}{{ this.format 'MMM' }}{{/with}}</a></li>
    <span><b>{{#with base_date}}{{ this.format 'MMMM, YYYY' }}{{/with}}</b></span>

    <li class="next"><a href="/calendar/teamview/?{{> team_view_url_parameters base_date = next_date }}">{{#with next_date}}{{this.format 'MMM'}}{{/with}} <span aria-hidden="true" class="fa fa-chevron-right"></span></a></li>
  </ul>
</nav>


<div class="row clearfix">
  <div class="col-md-2">
    <table class="team-view-users">
      <tr><td class="team-view-header">

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{# if current_department }}{{current_department.name}}{{else}}All departments{{/if}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="?{{> team_view_url_parameters current_department = null }}">All</a></li>
            {{#each related_departments}}
            <li><a href="?{{> team_view_url_parameters base_date = ../base_date current_department = this }}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        </div>

      </td></tr>
    {{# each users_and_leaves}}
      <tr><td>{{#with this.user }}{{ this.full_name }}{{/with}}</td></tr>
    {{/each}}
    </table>
  </div>

  <div class="col-md-10">
    <table class="calendar_month">
      <tr>
      {{# each users_and_leaves.0.days }}
        <td colspan="2" class="team-view-header"><b>{{# with this.moment }}{{this.format 'dd' }}{{/with}}</b></td>
      {{/each}}
      </tr>
    {{# each users_and_leaves}}
      <tr>
        {{# each this.days}}
          {{> calendar_cell day = this}}
        {{/each}}
      </tr>
    {{/each}}
    </table>
  </div>
</div>

<div class="row clearfix">&nbsp;</div>

{{> book_leave_modal container_id='book_leave_modal' leave_modal_form_action='/calendar/bookleave/' redirect_back_to='/calendar/teamview/'}}

{{> footer }}
