
{{> header }}

<h1>{{employee.name}} {{employee.lastname}}'s details</h1>

<p>Employee details</p>

{{> show_flash_messages }}

<form class="form-horizontal" method="POST" action="/users/edit/">

  <div class="form-group">
    <label for="name_inp" class="col-md-2 control-label">First Name</label>
    <div class="col-md-6">
      <input class="form-control" id="name_inp" name="name" value="{{employee.name}}">
    </div>
  </div>

  <div class="form-group">
    <label for="lastname_inp" class="col-md-2 control-label">Last Name</label>
    <div class="col-md-6">
      <input class="form-control" id="lastname_inp" name="lastname" value="{{employee.lastname}}">
    </div>
  </div>

  <div class="form-group">
    <label for="email_inp" class="col-md-2 control-label">Email Address</label>
    <div class="col-md-6">
      <input class="form-control" id="email_inp" type="email" name="email" value="{{employee.email}}">
    </div>
  </div>

  <div class="form-group">
    <label for="select_inp" class="col-md-2 control-label">Department</label>
    <div class="col-md-6">
      <select class="form-control" id="select_inp" name="department">
        {{#each company.departments}}
            <option value="{{@index}}" {{#if_equal ../employee.DepartmentId this.id}} selected="selected"{{/if_equal}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <button type="submit" class="btn btn-success">Save changes</button>
    </div>
  </div>
</form>

{{> footer }}
