
{{> header }}

<h1>Staff</h1>

{{> show_flash_messages }}

<div class="row">
    <div class="col-md-3">{{company.name}}'s staff</div>
    <form id="add_new_user_frm" method="get" action="/users/add/">
    <div class="col-md-3 col-md-offset-6">
        <button type="submit" class="pull-right btn btn-info" id="add_new_department_btn">Add user</button>
    </div>
    </form>
</div>

<div class="row">&nbsp;</div>

<form id="delete_form" method="post" action="/settings/departments/delete/"></form>

<form method="post" action="/settings/departments/">

<div class="row">
<div class="col-md-3">
    <p>Departments</p>
    <ul>
    <li><a href="/users/">All</a></li>
    {{#each company.departments}}
      <li><a href="/users/?department={{this.id}}">{{this.name}}</a></li>
    {{/each}}
    </ul>
</div>
<div class="col-md-9">
    <div class="row">
        <div class="col-md-5">Name</div>
        <div class="col-md-1">Days used</div>
        <div class="col-md-3">Department</div>
        <div class="col-md-1">Confirmed</div>
    </div>

    {{# each users}}
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-5"><a href="/users/edit/{{this.id}}/">{{this.full_name}}</a></div>
        <div class="col-md-1">{{this.calculate_number_of_days_taken_from_allowence}}</div>
        <div class="col-md-3">{{this.department.name}}</div>
        <div class="col-md-1">{{# if this.activated}}Yes{{else}}No{{/if}}</div>
    </div>
    {{/each}}

</div>
</div>

</form>

<div class="row">&nbsp;</div>

{{> footer }}
