
{{> header }}

<h1>{{employee.name}} {{employee.lastname}}'s details</h1>

<div class="row">
    <div class="col-md-3 lead">Employee details</div>
    <form id="add_new_user_frm" method="post" action="/users/delete/{{employee.id}}/">
        <div class="col-md-1 col-md-offset-8">
        <button id="remove_btn" type="submit" class="pull-right btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Remove employee"><i class="fa fa-trash"></i></button>
        </div>
    </form>
</div>

<div class="row">&nbsp;</div>

{{> show_flash_messages }}

<form class="form-horizontal" method="POST" action="/users/edit/{{employee.id}}/">

  <div class="form-group">
    <label for="name_inp" class="col-md-2 control-label">First Name</label>
    <div class="col-md-6">
      <input class="form-control" id="name_inp" name="name" value="{{employee.name}}">
    </div>
  </div>

  <div class="form-group">
    <label for="lastname_inp" class="col-md-2 control-label">Last Name</label>
    <div class="col-md-6">
      <input class="form-control" id="lastname_inp" name="lastname" value="{{employee.lastname}}">
    </div>
  </div>

  <div class="form-group">
    <label for="email_inp" class="col-md-2 control-label">Email Address</label>
    <div class="col-md-6">
      <input class="form-control" id="email_inp" type="email" name="email" value="{{employee.email}}">
    </div>
  </div>

  <div class="form-group">
    <label for="select_inp" class="col-md-2 control-label">Department</label>
    <div class="col-md-6">
      <select class="form-control" id="select_inp" name="department">
        {{#each company.departments}}
            <option value="{{@index}}" {{#if_equal ../employee.DepartmentId this.id}} selected="selected"{{/if_equal}}>{{this.name}} (approver {{this.boss.name}} {{this.boss.lastname}})</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="admin_inp" class="col-md-2 control-label">Is administrator user</label>
    <div class="col-md-6">
      <input class="" id="admin_inp" name="admin" type="checkbox" {{# if employee.admin}} checked="checked"  {{/if}} >
    </div>
  </div>

  <div class="form-group">
    <label for="start_date_inp" class="col-md-2 control-label">Started on</label>
    <div class="col-md-6 date">
      <input class="form-control" id="start_date_inp" type="text" name="start_date" data-date-autoclose="1" data-provide="datepicker" data-date-format="yyyy-mm-dd" value="{{as_date employee.start_date}}">
    </div>
  </div>

  <div class="form-group">
    <label for="end_date_inp" class="col-md-2 control-label">Ended on</label>
    <div class="col-md-6 date">
      <input class="form-control" id="end_date_inp" type="text" name="end_date" data-date-autoclose="1" data-provide="datepicker" data-date-format="yyyy-mm-dd" value="{{as_date employee.end_date}}">
    </div>
  </div>

  <div class="form-group">
    <label for="password_inp" class="col-md-2 control-label">Password</label>
    <div class="col-md-6 date">
      <input class="form-control" id="password_inp" type="password" name="password" value="">
    </div>
  </div>

  <div class="form-group">
    <label for="password_inp" class="col-md-2 control-label">Confirm password</label>
    <div class="col-md-6 date">
      <input class="form-control" id="confirm_password_inp" type="password" name="password_confirm" value="">
    </div>
  </div>

  <div class="form-group">
    <label for="adjustment_inp" class="col-md-2 control-label">Allowance adjustment</label>
    <div class="col-md-6 date">
      <input class="form-control" id="adjustment_inp" type="number" step="0.5" name="adjustment" value="{{employee.adjustment}}">
    </div>
  </div>

  <div class="form-group">
    <label for="days_remaining_inp" class="col-md-2 control-label">Days remaining</label>
    <div class="col-md-6 date">
      <input class="form-control" id="days_remaining_inp" type="text" readonly value="{{#with employee}}{{ this.calculate_number_of_days_available_in_allowence}} out of {{this.calculate_total_number_of_days_n_allowence }}{{/with}}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <button id="save_changes_btn" type="submit" class="btn btn-success">Save changes</button>
    </div>
  </div>

</form>

{{> user_requests leaves=leaves }}

{{> footer }}
