
<div>
  <strong>Name:</strong> {{userFullName}}.
</div>
<div>
  <strong>Department:</strong> {{departmentName}}.
</div>
{{#if userAllowance }}
  <div>
    <strong>Available allowance:</strong> {{userAllowance.number_of_days_available_in_allowance}} days out of {{userAllowance.number_of_days_available_in_allowance}}.
  </div>
{{/if}}
{{#if supervisorNames}}
  <div>
    <strong>Approvers:</strong>
    <ul>
      {{#each supervisorNames}}<li>{{this}}{{#unless @last}},{{/unless}}</li>{{/each}}
    </ul>
  </div>
{{/if}}
